.asciiart {
  font-family: monospace;
  line-height: 1;
  overflow: auto;
  padding: 1rem;
  white-space: pre;
  font-size: 1vw; /* Use viewport width for responsive font size */
}

.container {
  font-weight: 900;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsla(0, 0%, 50%, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .asciiart {
    font-size: 1.5vw; /* Adjust font size for smaller screens */
  }
}

@media screen and (max-width: 576px) {
  .asciiart {
    font-size: 1vw; /* Further adjust font size for even smaller screens */
  }
}

.content {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "blueprint-icons-16", sans-serif;
  font-weight: 600;
  text-align: center; /* Center the text */
}

.footnote {
  font-family: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "blueprint-icons-16", sans-serif;
  font-weight: 600;
  color: gray;
  position: absolute; /* Position the footnote absolutely */
  bottom: 1rem; /* Position it at the bottom */
  width: 100%; /* Full width */
  text-align: center; /* Center the text */
}
