.container{
    margin: 0%;
    padding: 0%;  
    height: 100vh; 
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
.herotext{
    padding: 2%;
    font-size: 15vh;
    font-weight: 900;
  

}
.buttonRow {
  display: flex;
  justify-content: center;
  
  
}
.blackButton {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 2%;
  
}

.borderButton {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  margin: 2%;
}



.content{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2%;
  text-align: center;
  justify-content: center;

}
.subherotext{
  font-size: 5vh;


}
@media  screen and (max-width:768px) {
.herotext{
  display: flex;
  flex-direction: column;

}
.herocontainer{
  margin: 2%;
  text-align: center;
}
  
}
.buttonContainer{
    padding: 2%;
    display:flex;
    flex-direction: row;
    width: 25%;
    
    
}
@media  screen and (max-width:768px) {
  .buttonContainer{
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: space-between;
  }
  }
.writebutton{
    background: none;
    border: none;
    padding: 3%;
    
    font-size: 16px;
    cursor: pointer;
    background-color:black ;
    transition: border-color 0.3s, color 0.3s;
    color: white; /* Text color */
    border: 2px solid black;
    border-radius: 2px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Transparent border */
    /* Glow effect using box-shadow */
  }
  .writebutton:hover{
    border-color: rgb(59, 58, 58); /* White border color on hover */
    box-shadow: 0 0 10px #272626; 
    
  }
  .snowflake {
    color: black;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
    transition: 1s;
  }
  .snowflake:hover{
    font-size: 2em;
    color: white;
    display: none;
    
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

  .container:nth-of-type(2) {
    position: relative; /* Set this container as relative */
    height: auto; /* Adjust the height as needed */
  }
.typing{
    overflow: hidden;
    white-space: nowrap;
    font-weight: 800;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;/* Adjust the animation duration and steps as needed */
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  @media screen and (max-width: 768px) {
    .herotext {
      font-size: 10vh; /* Adjust the font size for smaller screens */
    }
  
    .subherotext {
      font-size: 3vh; /* Adjust the font size for smaller screens */
    }
  }
  /* ... Previous CSS ... */

.bottomRightContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2%;
}

.responsiveTextButton {
  text-align: center;
}

.responsiveButton {
  background-color: black;
  color: white;
  cursor: pointer;
  margin-top: 10px; /* Adjust the margin as needed */
}

@media (max-width: 768px) {
  .responsiveTextButton {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .responsiveButton {
    margin-top: 10px;
  }
}
