.container{
    background: white;
  height: 100%;
  width: 100%;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    
  }
 .container  canvas {
    height:100%;
    width:100%;
    /* position:absolute;
    left:50%;
    top:50%; */
    transform: translate(-50%, -50%);
  }
  
  #canvas3 {
    z-index: 5;
  }
  
  #canvas2 {
    z-index: 10;
  }
  
  #canvas1 {
    z-index: 100;
  }
  
  